@()

<div class="navbar-header pull-left">
    <a href="#" class="navbar-brand">
        <small><i class="icon-leaf"></i>awesome play</small>
    </a><!-- /.brand -->
</div><!-- /.navbar-header -->

<div class="navbar-header pull-right" role="navigation">
    <ul class="nav ace-nav">

        <li class="light-blue">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="@routes.Assets.at("avatars/user.jpg")" alt="Jason's Photo" />
                <span class="user-info">
                    <small>Welcome,</small>
                    Jason
                </span>

                <i class="icon-caret-down"></i>
            </a>

            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                    <a href="#">
                        <i class="icon-cog"></i>
                        Settings
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="icon-user"></i>
                        Profile
                    </a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="#">
                        <i class="icon-off"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul><!-- /.ace-nav -->
</div><!-- /.navbar-header -->
