@()


<script type="text/javascript">try{ace.settings.check('sidebar' , 'fixed')}catch(e){}</script>

<ul class="nav nav-list">
    <li>
        <a href="index.html">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
    </li>

    <li>
        <a href="typography.html">
            <i class="icon-text-width"></i>
            <span class="menu-text"> Typography </span>
        </a>
    </li>
    
    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-desktop"></i>
            <span class="menu-text"> 测试对象管理 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li menu-container="true">
                <a href="@controllers.test.routes.TestObjectController.list()">
                    <i class="icon-double-angle-right"></i>
                    测试对象查询
                </a>
            </li>
            <li menu-container="true">
                <a href="@controllers.test.routes.TestObjectController.addPage()">
                    <i class="icon-double-angle-right"></i>
                    测试对象新增
                </a>
            </li>
        </ul>
    </li>

</ul><!-- /.nav-categoryPVlist -->

<div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
</div>

<script>try{ace.settings.check('sidebarexi' , 'collapsed')}catch(e){}</script>
<script>
//加载页面的时候根据url选中左边的菜单
(function() {
    var uri = "@{requestHeader.uri}";

    if(uri != "/") {
        var selectedA = $("li[menu-container='true'] > a").filter(function(index) {
            return $(this).attr("href") == uri;
        });
        selectedA.parent("li").addClass("active");
        selectedA.parentsUntil("ul[class='nav nav-list']", "li").last().addClass("active open");
    }
})();
</script>
